h1 h2 h3 h4 h5 h6 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}

.parrafo_uno {
    font-family: 'Times New Roman', Times, serif;
    
}

.boton_container {
    display: flex;
    flex-direction: row;
}