@import "color";
@import "reset";
@import "responsive";
@import "tipografia";



h1, h2, h3, h4, h5, h6 {

    margin: 20px 20px;
    padding: 20px 20px;
}

/*------------index----------*/
.box_container {
    display: flex;
    flex-direction: column;
    color: rgb(95, 95, 95);
    padding: 20px;
    text-align: center;
    color: rgb(87, 87, 87);
    text-align:center;
}
.primera_seccion {
    margin: 50px 50px;
    

}

.notas_container {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    border: black 2px solid;
    background-color: rgba(100, 153, 155, 0.26);
}

.box_notas p{
    text-transform: lowercase;

}

/*------------footer----------*/





/*------------integrantes----------*/
.main_integrantes {
    margin: 20px;
    padding: 20px;

}
.main_integrantes img{

    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

