@import "color";
@import "reset";
@import "responsive";
@import "tipografia";




.box_container {
    display: flex;
    flex-direction: column;
    color: rgb(95, 95, 95);
    padding: 20px;
    text-align: center;
    color: rgb(87, 87, 87);
}
.parrafo_uno {

}

